 <%= form_for([@show, @character], html: { class: 'form-horizontal', multipart: true }) do |f| %>
  <div class="form-group">
    <label class="control-label col-sm-4" for="title">Title:</label>
    <div class="col-sm-8">
      <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "Name..." %>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-4" for="pwd">Descption:</label>
    <div class="col-sm-8">
      <%= cktext_area :character, :description, :cols => 40, :ckeditor => {:toolbar =>   'mini'} %>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-8">
      <% if f.object.new_record? %>
        <%= f.submit "Add", class: "btn btn-primary" %>
        <%= f.submit "Add and Continue", class: "btn btn-primary" %>
      <% else %>
        <%= f.submit "Update", class: "btn btn-primary" %>
        <%= link_to "Cancel", :back, class: "btn btn-success"%>
      <% end %>
    </div>
  </div>
<% end %>
